/* .about-two__element-two img {
  width: 216px;
  height: auto;
}
.about-two__thumb__item img {
  width: 386px;
}
.about-two__thumb__item-small {
  width: 247px;
  height: auto;
} */

.footer-widget__logo.logo-retina {
  width: 158px;
}
.main-header__logo.logo-retina .gatsby-image-wrapper {
  max-width: 160px;
}
.destinations-card__thumb .gatsby-image-wrapper img {
  object-fit: cover;
  width: 100%;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}
.listing-card-two__image .gatsby-image-wrapper img {
  object-fit: cover;
  width: 100%;
  border-radius: 16px 16px 0 0;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}
.listing-card-two:hover .gatsby-image-wrapper img {
  transform: scale(1.1);
}

.logo-box .gatsby-image-wrapper img {
  width: 155px;
}
.destination-card-one__thumb .gatsby-image-wrapper img {
  object-fit: cover;
  width: 100%;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}
.destination-card-one:hover .gatsby-image-wrapper img {
  transform: scale(1.1);
}
.destination-card-one__thumb .gatsby-image-wrapper {
  object-fit: cover;
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}
.destination-card-one__thumb .gatsby-image-wrapper > div {
  max-width: 100% !important;
}

.destination-card-two__thumb .gatsby-image-wrapper img {
  object-fit: cover;
  width: 100%;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}
.destination-card-two:hover .gatsby-image-wrapper img {
  transform: scale(1.1);
}

.listing-card-four__image .gatsby-image-wrapper img {
  object-fit: cover;
  width: 100%;
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}
.listing-card-four:hover .gatsby-image-wrapper img {
  transform: scale(1.1);
}
.blog-card__image .gatsby-image-wrapper img {
  object-fit: cover;
  width: 100%;
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
}
.blog-card:hover .blog-card__image .gatsby-image-wrapper img {
  transform: scale(1);
}



.sidebar__posts__image .gatsby-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
  border-radius: 6px;
}
.sidebar__posts__item:hover .sidebar__posts__image .gatsby-image-wrapper img {
  transform: scale(1.2) rotate(-15deg);
}

.blog-details__inner__text-one .gatsby-image-wrapper {
  position: absolute;
  right: 40px;
  bottom: 20px;
}
.product__item__image .gatsby-image-wrapper img {
  width: 100%;
  display: block;
  transition: all 500ms ease;
  transform: scale(1);
}
.product__item:hover .product__item__image .gatsby-image-wrapper img {
  transform: scale(1.05);
}